body {
  background-color: #f6f6f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  background-image: url(assests/portland.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3rem;
}
.header h1 {

  font-size: 5rem;
  -webkit-text-stroke: 2px #ffffff;
}

.random{
  text-align: center;
}
.card {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding: 1%;
  background-color: #f2f2f3;
  width: fit-content;
}
.restName{
  font-style: italic;
  font-weight: bold;
}
.restAdd{
  font-family: Arial, Helvetica, sans-serif;
}
.restNum{
  font-family: Arial, Helvetica, sans-serif;
}
.restMenu{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.menubtn {
  background-color: rgb(70,108,82);
  color: #f6f6f2;
  display: block;
  margin: auto auto;
  margin-top: 1%;
  width: 100%;
  padding: 1%;
  font-size: 1.5rem;
  height: auto;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.menubtn:hover {
 background-color: #6C4660;
  color: #f6f6f2;
  transform: scale(1.05);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.restResv{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.resbtn{
  background-color: rgb(70,108,82);
  color: #f6f6f2;
  display: block;
  margin: auto auto;
  margin-top: 1%;
  width: 100%;
  padding: 1%;
  font-size: 1.5rem;
  height: auto;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.resbtn:hover {
  background-color: #6C4660;
  color: #f6f6f2;
  transform: scale(1.05);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.restWeb{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.webBtn{
  background-color: rgb(70,108,82);
  color: #f6f6f2;
  display: block;
  margin: auto auto;
  margin-top: 1%;
  width: 100%;
  padding: 1%;
  font-size: 1.5rem;
  height: auto;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.webBtn:hover {
  background-color: #6C4660;
  color: #f6f6f2;
  transform: scale(1.05);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.restCat{
  font-family: Arial, Helvetica, sans-serif;
}
.restPrice{
  font-family: Arial, Helvetica, sans-serif;
}

.randombtn{
    background-color: rgb(70,108,82);
  color: #f6f6f2;
  display: block;
  margin: auto auto;
  margin-top: 1%;
  width: 100%;
  padding: 1%;
  font-size: 1.5rem;
  height: auto;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  transition: all .4s ease-in-out;
  /* margin-bottom: 10%; */
}
.randombtn:focus{
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.randombtn:hover{
  color: #fff;
  background-color: #03355e;
  border-color: #204d74;
}
